{% extends 'base.html.twig' %} 
{% block title %}Listes des régions{% endblock %}
{% block body %}
<div class="container">
<h1>Liste des départements</h1>
    <div class="row">
        {% for monDep in mesDeps %}
        <div class="col-md-3">
            <div class="card border-primary mb-3" style="max-width: 20rem;">
                <div class="card-header">{{ monDep.code }}</div>
                <div class="card-body">
                    <h4 class="card-title">{{ monDep.nom }}</h4>            
                </div>
            </div>
        </div>  
        {% endfor %}
    </div>
</div>
{% endblock %}